/* Content of my webpage/paragraph */
body{
    background-color: lightgrey;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    margin-left: 50px;
    width: 100vh;
    height: 100vh;
    text-align: center;
}
/* Name Plate/Header */
h1{
    background-color: lightgrey;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
    border: 10px;
    border-style: outset;
    border-color: black;
    margin-bottom: 30px;
    margin-top: 75px;
    border-radius: 10px;
}

.job-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    padding-top: 20px;
    text-align: left;
    font-weight: bolder;
    
}
.job-bullet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job-date{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center; 
    height: 100px;
}

ul li{
    list-style: square;
    text-align: left;
    font-size: medium;
}

/* Courses Taken Section, */
.courses{
    display: flex;
    font-size: large;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    /* flex-direction: row; */
    /* height: 30px; */
    /* width: 100%; */
}

.imageContainer{
    padding: 0;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    display: flex;
}

img{
    border: 10px;
    border-style: ridge; 
    border-color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: auto;
}
h2{
    background-color: lightgray;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    padding: 15px;
    border: 10px;
    border-style: outset;
    border-color: black;
    border-radius: 10px;
    margin: 20px;

}
.languages{
    /* margin-left: 20px; */
    /* padding-top: 20px;
    /* padding-bottom: 20px; */ */
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    margin-top: 5px;
    text-align: left;
}
h3{
    background-color: lightgray;
    border: 5px;
    text-align: left;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    border-style: outset;
    margin-top: 30px;
    border-color: black;
    border-radius: 10px;
}

.courses > div:hover{
    background-color: yellow;
}
.languages > div:hover{
    background-color: yellow;
}

.socialMedia{
    display: flex;
    text-align: center;
    padding: 10px;
    font-size: large;
    /* padding-left: 20px; */
    /* margin: 20px; */
    justify-content: space-around;
}
.social{
    flex-direction: row;
    border: 5px double black;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

.socialMedia a:hover{
    background-color: yellow;
}

nav{
    overflow: hidden;
    background-color: rgb(0, 166, 255);
    color: black;
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%
} 
nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding:18px 18px;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}
nav a:hover{
    background-color: yellow;
    color: black;
}
nav a.active{
    background-color: pink;
    color: black;
}